.divMenuLateralLeft{
    width: fit-content;
    max-width: 10vh;
    display: grid;
    grid-template-rows: 15% auto;
    padding: 2vh;
    background-color: #000000;

    i{
        width: 45%;
        height: 100%;
        display: block;
        margin: auto auto 10vh auto;
        background-image: url(https://f.hubspotusercontent10.net/hubfs/5506418/Nuevo%20Evaluatest/Brive-Be-color.png);
    }
    ul{
        width: 100%;
        height: fit-content;
        margin: auto;
        display: grid;
        grid-gap: 3vh;

        li{
            width: fit-content;
            color: white;
            margin: auto;
            filter: brightness(0.5);

            img{
                margin: auto;
                display: block;
            }
            p{
                font-size: 1.4vh;
                text-transform: uppercase;
                margin-top: 1vh;
            }
        }
        li:hover{
            filter: brightness(1);
        }
    }
}