.divMenuLateralLeft{
    width: fit-content;
    background-color: #131313;
    padding: 3vw;

    @media (max-width: 600px) {
        display: none;
    }

    i{
        width: 50%;
        height: 5vh;
        display: block;
        margin: auto auto 10vh auto;
        background-image: url(https://th.bing.com/th/id/R.cbfc62213cd4dc317f423b9c0683ec2e?rik=WYX%2bvDw%2bS58yhQ&pid=ImgRaw&r=0);
    }
    .pMenu{
        width: fit-content;
        height: fit-content;
        margin: 0vh 0vh 1vh -.5vh;
        color: #ffffff5d;
        font-size: 1.7vh;
    }
    ul{
        width: 100%;
        height: fit-content;
        display: grid;
        grid-gap: 1vh;
        margin: 1vh 0vw 2vh -15%;
        padding-bottom: 2vh;
        border-bottom: 1px solid #ffffff23;

        @media (max-width: 600px) {
            display: none;
        }

        li{
            width: 100%;
            color: white;
            margin: auto;
            filter: brightness(0.5);
            padding: .5vw 1vw;
            cursor: pointer;
            display: flex;

            img{
                width: 2.7vh;
                margin: auto 1vw auto 0;
                display: block;
            }
            p{
                width: 100%;
                font-size: 1.7vh;
                margin: auto;
            }
        }
        li:hover{
            filter: brightness(1);
            border-radius: 15px;
        }
        .active{
            filter: brightness(1);
            background-color: #7f7f7f17;
            border-radius: 10px;
        }

        li:last-child{
        }
    }
    ul:last-of-type{
        border-bottom: 0;
    }
}