aside{
    width: 100%;
    background-color: #f6f6f6;
    padding: 5vh 0vh 0vh 5vw;

    #btnCreateUser{
        width: fit-content;
        height: fit-content;
        background-color: #0ebe66;
        margin: 3vh 2vw auto auto;
        padding: 1.5vh 2vh;
        border-radius: 15px;
        text-align: initial;
        display: flex;
        grid-gap: 1vw;
        font-size: 1.9vh;
        color: #ffffff;

        img{
            width: 2.5vh;
            height: 2.5vh;
        }
    }

    .sectionListUsers{
        width: -webkit-fill-available;
        height: fit-content;
        position: fixed;
        display: grid;
        grid-row-gap: 15%;
        grid-template-columns: repeat(3, 33.3%);
        margin-top: 5vh;
    }
    
}