aside{
    width: 100%;
    background-color: #f6f6f6;
    padding: 5vh 0vh 0vh 5vw;

    #btnCreateUser{
        width: fit-content;
        height: fit-content;
        background-color: #0ebe66;
        margin: 3vh 2vw auto auto;
        padding: 2vh;
        border-radius: 15px;
        text-align: initial;
        display: flex;
        grid-gap: 1vw;
        font-size: 2.3vh;
        color: #ffffff;
    }

    .sectionListUsers{
        width: -webkit-fill-available;
        height: 100%;
        position: fixed;
        display: grid;
        grid-template-columns: repeat(3, auto);
        margin-top: 5vh;
    }
    
}