aside{
    width: 100%;
    background-color: #f6f6f6;
    padding: 5vh 0vh 0vh 5vw;

    .sectionListUsers{
        width: -webkit-fill-available;
        height: 100%;
        position: fixed;
        display: grid;
        grid-template-columns: repeat(3, auto);
        margin-top: 5vh;
    }
    
}