

    .asideAbsolute{
        height: -webkit-fill-available;
        display: grid;
        grid-template-columns: min-content auto;
        padding: 0;
        background-color: white;

        section{
            display: grid;
            grid-template-rows: 25vh auto;

            .spanHeader{
                width: 100%;
                background-image: url(https://images.unsplash.com/photo-1584204559709-ca7d413229eb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
                background-size: cover;
                display: flex;
                
                #spanImageUser{
                    width: 15vh;
                    height: 15vh;
                    display: block;
                    border-radius: 100%;
                    background-color: rgb(243, 243, 243);
                    margin: auto auto -5vh 10vh;
                }
            }
            #spanBackgroundEdit{
                display: block;
                border-radius: 5px;
                margin: 5vh;
                padding: 5vh;
                border-radius: 30px;
                
                aside{
                    width: 95%;
                    padding: 0;
                    background-color: transparent;

                    label{
                        font-size: 2vh;
                        margin-left: 6vh;
                    }
                    input{
                        width: -webkit-fill-available;
                        height: fit-content;
                        border: 1px solid rgb(233, 233, 233);
                        padding: 2vh;
                        margin: 1vh 0vh 2vh 5vh;
                        border-radius: 10px;
                    } 
                    #btnEditUser1{
                        width: fit-content;
                        background-color: #0ebe66;
                        color: white;
                        margin: 2vh 0vh 2vh auto;
                        align-items: center;
                        display: flex;
                        padding: 2vh 3vh;
                        grid-gap: 2vh;
                        border-radius: 10px;
                    }                       
                }
            }    
        }

        

    }
